<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace先随意写一个-->
<mapper namespace="zera.mapper.StudentMapper">
    <select id="selectByNameAndSex" resultType="zera.pojo.Student">
        select * from t_student where name = #{arg0} and sex = #{arg1}
    </select>

    <select id="selectByNameAndSex2" resultType="zera.pojo.Student">
        select * from t_student where name = #{name} and sex = #{sex}
    </select>

    <select id="selectAllListMap" resultType="map">
        select * from t_student
    </select>

    <select id="selectAllMapMap" resultType="map">
        select * from t_student
    </select>

    <resultMap id="studentResultMap" type="Student">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="age" column="age" />
        <result property="height" column="height" />
        <result property="date" column="birth_date" />
        <result property="sex" column="sex" />

    </resultMap>
    <select id="selectAllByResultMap" resultMap="studentResultMap">
        select * from t_student
    </select>

    <select id="selectAllByCamelCase" resultType="student">
        select * from t_student
    </select>
</mapper>