<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace先随意写一个-->
<mapper namespace="car">
    <insert id="insertCar">insert into t_car(id,carNum,brand,guidePrice,produceTime,carType)
                values(null,'102','Tesla',30,'2022-01-01','elec');
    </insert>
<!--    <delete id=""></delete>-->
<!--    <update id=""></update>-->
<!--    <select id=""></select>-->
</mapper>